*{
margin: 0px;
padding: 0px;
}
.lightpink{
color: #e06377;
/*lightpink*/

}
.darkpink{
color: #c83349;
}
.disabled{
	text-decoration: line-through;
	color: grey;
}
.font1{
	font-family: 'Syne Mono', monospace;
}
h3{
color: #96ceb4;
/*skyblue*/
}
h4{
color: #588c7e;
/*darkblue*/
}
.bg-lightblue{
background-color: #96ceb4;
color: white;
}
.bg-darkblue{
background-color: #588c7e;
color: white;
}
.textwhite{
color: white;
}
.container{
background-color: #fefbd8;
padding: 0px;
font-family: 'Architects Daughter', cursive;
}
.container2{
	margin: 10px;
	padding: 10px;
}
.breadcrumb{
	background-color: #96ceb4 !important;
	border-bottom: solid 3px #588c7e;

}
.titlediv{

background-color: #96ceb4;
border-bottom: solid 3px #588c7e;
border-top: solid 10px #588c7e;
color: white;
font-family: 'Syne Mono', monospace;
font-size: 40px;
line-height: 100px;
letter-spacing: 5px;
}

.alert1{
width: 400px;
text-align: right;
margin:0px 0px 40px auto;
}
.aligncenter{
align-items: center;
text-align: center;
}

a{
color: white;
text-decoration:none;
}
a:hover{
color: white;
text-decoration:none;
}

h1 i {
font-size: 40px;
}
footer{
height: 20px;
background-color: #96ceb4;
border-bottom: solid 1px #588c7e;
border-top: solid 2px #588c7e;
color: white;
font-size: 12px;
margin-top: 30px;
}
.fa-trademark{
font-size: 6px;
position: relative;
bottom: 4px;
}